<header class="page-header">
	<div class="page-header-content container">
		<div class="menu-button-container">
			<i id="menu-button" class="menu-button fa fa-reorder"></i>
		</div>
		<nav id="nav-top" class="nav-top">
			<ul>
				<li>
					<%= link_to 'Home', "/" %>
					<ul>
						<% Chocoball.all.each do |cat| %>
							<li>
								<%= link_to cat.name, "?cat=#{cat.id}" %>
							</li>
						<% end %>
					</ul>
				</li>
				<li><%= link_to 'About', "/about" %></li>
			</ul>
			<h1 class="logo-primary">
				<%= image_tag 'Logo1.png', id:"logo-1", alt:"Bakery" %>
			</h1>
			<div class="logo-secondary">
				<%= image_tag 'Logo.png', id:"logo-2", alt:"Bakery" %>
			</div>
			<ul>
				<li><%= link_to 'Contact', "/contact" %></li>
				<li><%= link_to 'Cart', cart_path %></li>
			</ul>
		</nav>
	</div>
</header>
