
	<div id="all">
    <%= render "commons/commonHeader" %>
    <section class="top-section">
      <div class="offset-borders">
            <div class="full-header-container" id="header-services">
                <div class="full-header">
                    <div class="container">
                        <h1>Brigadeiros</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
		<br><br>
		<section id="search-section">
			<%= form_tag('/', method: "get") do %>

				<%= label_tag(:cat, "Category:") %>
				<%= select_tag :cat, options_from_collection_for_select(@categories, "id", "name"), include_blank: true %>
				<br><br>
				<%= label_tag(:key_word, "Search for:") %>
			  <%= text_field_tag(:key_word) %>
				<br><br>
				<%= submit_tag("Search") %>
			<% end %>
		</section>

        <section id="products-section">
            <div class="section-content">
                <div class="container">
                    <header class="section-header">
                        <h1>Tasty choices</h1>
                        <p>Check some of our best products and feel the great passion for taste</p>
                    </header>

										<% if @brigadeiros.empty? %>
										<p> No flavor was found. Try to search again please!!!
										<% else %>
										<div class="grid-container">
											<% @brigadeiros.each do |prod| %>
												<div class="grid-item">
												<h3><%= prod.name %></h3>
												<h3>$<%= prod.getPrice %> each</h3>
												<%= form_tag(addCart_path(prod), method: "post") do %>
													<%= label_tag(prod.id, "Quantity:") %>
													<%= select_tag prod.id, options_for_select(@quantities) %>
													<%= link_to image_tag(prod.image, style:'height:20vw;width:15vw;margin-bottom:10px;'), brigadeiro_path(prod) %>
													<%= submit_tag("Add to cart") %>
												<% end %>
											</div>
											<% end %>
											<%= paginate @brigadeiros %>
										</div>
										<% end %>
                </div><!-- .container -->
            </div><!-- .section-content -->
        </section>
    </div>
