
	<div id="all">
    <%= render "commons/commonHeader" %>
    <section class="top-section">
      <div class="offset-borders">
            <div class="full-header-container" id="header-services">
                <div class="full-header">
                    <div class="container">
                        <h1>Cart</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>


        <section id="carts-section">
            <div class="section-content">
                <div class="container">
                    <header class="section-header">
                        <h1>Your cart so far</h1>
                    </header>

										<% if @cartItems.empty? %>
										<p> No item added to the cart yet
										<% else %>

                    <% if flash[:message]  %>
                      <p><%= flash[:message] %></p>
                    <% end %>


										<div>
											<% @cartItems.each do |item| %>
                      <%= form_tag(updateItemCart_path(item['brigadeiro']['id']), method: "post") do %>
											<div class="grid-item">
												<h3><%= item['brigadeiro']['name'] %></h3>
												<h3>SubTotal: $<%= item['subtotal'] %></h3>
												<%= label_tag(item['brigadeiro']['id'], "Quantity:") %>
												<%= select_tag item['brigadeiro']['id'], options_for_select(@quantities, item['quantity']) %>
												<%= submit_tag("Update Item") %>
                        <%= link_to "Remove Item", removeItemCart_path(item['brigadeiro']['id']) %>
											</div>
                      <% end %>
                      <hr>
											<% end %>
										</div>
										<% end %>
                </div><!-- .container -->
            </div><!-- .section-content -->
            <%= link_to "Delete your cart", removeCart_path %>
<hr>
            <div class="section-content">
                <div class="container">
										<div>
                      <%= form_tag(customer_checkout_path, method: "post") do %>
                        <h2>Customer Information</h2>
                        <%= label_tag(:customer_name, "Name:") %>
                        <%= text_field_tag(:customer_name) %><br><br>
                        <%= label_tag(:customer_email, "Email:") %>
                        <%= text_field_tag(:customer_email) %><br><br>
                        <%= label_tag(:customer_phone, "Phone:") %>
                        <%= text_field_tag(:customer_phone) %><br><br>
                        <h3>Address</h3>
                        <%= label_tag(:address_location, "Location:") %>
                        <%= text_field_tag(:address_location) %><br><br>
                        <%= label_tag(:address_postal, "Postal Code:") %>
                        <%= text_field_tag(:address_postal) %><br><br>
                        <%= label_tag(:address_info, "Additional Information:") %>
                        <%= text_field_tag(:address_info) %><br><br>
												<%= label_tag(:address_province, "Province:") %>
												<%= select_tag :address_province, options_from_collection_for_select(@provinces, "id", "name") %><br><br>
												<%= submit_tag("Checkout") %>
                      <% end %>
                      </div>
                      <hr>
										</div>
                </div><!-- .container -->
        </section>
    </div>
