
	<div id="all">
    <%= render "commons/commonHeader" %>
    <section class="top-section">
      <div class="offset-borders">
            <div class="full-header-container" id="header-services">
                <div class="full-header">
                    <div class="container">
                        <h1>Cart</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>


        <section id="carts-section">
            <div class="section-content">
                <div class="container">
                    <header class="section-header">
                        <h1>Your cart so far</h1>
                    </header>

										<% if @cartItems.empty? %>
										<p> No item added to the cart yet
										<% else %>

                    <% if flash[:message]  %>
                      <p><%= flash[:message] %></p>
                    <% end %>


										<div>
											<% @cartItems.each do |item| %>
                      <%= form_tag(updateItemCart_path(item['brigadeiro']['id']), method: "post") do %>
											<div class="grid-item">
												<h3><%= item['brigadeiro']['name'] %></h3>
												<h3>SubTotal: $<%= item['subtotal'] %></h3>
												<%= label_tag(:qtd, "Quantity:") %>
												<%= select_tag :qtd, options_for_select(@quantities, item['quantity']) %>
												<%= submit_tag("Update Item") %>
                        <%= link_to "Remove Item", removeItemCart_path(item['brigadeiro']['id']) %>
											</div>
                      <% end %>
                      <hr>
											<% end %>
										</div>
										<% end %>
                </div><!-- .container -->
            </div><!-- .section-content -->
            <%= link_to "Delete your cart", removeCart_path %>
        </section>
    </div>
